*{
    margin: 0;
    padding: 0;
}

.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    
}

main {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    background-color: rgb(16, 31, 98);
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
}


/* Estilização da logo do "Senai" */
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    left: 10px;
}

/* Animação nas UL e LI com os links dentro */
.paginas ul li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}

.paginas ul li a::before {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background-color: rgb(243, 171, 21);
    bottom: 0;
    left: 0;
    transition: width 0.7s ease;
}

.paginas ul li a:hover::before {
    width: 100%;
}

/* Estilização das ul */
.paginas {
    width: 80%;
    justify-content: end;
    display: flex;
}

.paginas ul {
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.paginas ul li {
    list-style: none;
    position: relative;
}


/* Estilização das informações de cadastro */

.cadastro{
    width: 80vw;
    height: 70vh;
    background-color: #eeeeee;
    color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    box-shadow: 0 4px 100px rgba(0, 0, 0, 1);
    font-family:  sans-serif;
    

}

.cadastro h1{
    text-align: center;
}



.cadastro input{
    width: 90%;
    height: 7%;
    border: none;
    
}

.cadastro button{

    border: none;
    width: 50%;
    background-color: #045cac;
    height: 10%;
    border-radius: 100rem;
    color: #fff;
    text-transform: uppercase;
    font-family:  sans-serif;
    transition: background-color 0.7s ease;
}

.cadastro button:hover{
    background-color: rgb(16, 31, 98);
}


footer {
    margin-top: 2rem;
    background-color: #045cac; 
    color: white; 
    text-align: center; 
    padding: 1rem 0;
    height: 5rem;
    display: flex;
    flex-direction: column;
    bottom: 0;
    
}


/* Estilização das logo do Senai e Findes footer */
.logos{
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}

.logos p{
    font-weight: 900;
    text-transform: uppercase;
}

.rede-social a{
    text-decoration: none;
}

.maneiraContato{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}