* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(16, 31, 98);
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
    
   
}




.pagina ul li a {
    
    position: relative;
    
    
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

a::before {
    content: '';
    width: 0;
    height: 5px;
    position: absolute;
    background-color: rgb(243, 171, 21);
    bottom: 0;
    left: 0;
    transition: width 0.7s ease;
}

a:hover::before {
    width: 100%;
}

.paginas{
    width: 80%;
    justify-content: end;
    display: flex;
}

.paginas ul {
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.paginas ul li {
    list-style: none;
    position: relative;
}


